<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App: Projects</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">

    <style>
        .BdRed{
        border-color: red !important;
        }
    </style>
</head>
<body>
<main>

    <h4 span style="color: #00ff00;" th:if="${message} != null" th:text="${message}"></h4>
    <form action="#" method="post" th:action="@{/showProjects}" th:object="${project}">
    <fieldset >
        <p span style="color: #ff0000;" th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
        <legend> Nowy Projekt</legend>
        <label>Opis <input  type="text" name="description"  th:field="*{description}" th:errorClass="BdRed"/>
        </label>
<!--        <label>Grupa-->
<!--&lt;!&ndash;            <input  type="text" name="id"  th:field="*{group.id}" th:errorClass="BdRed"/>&ndash;&gt;-->
<!--            <select th:field="*{group.id}">-->
<!--                <option th:each="grupa: ${taskGroup}"-->
<!--                        th:value="${grupa.id}"-->
<!--                        th:text="${grupa.description}"/>-->
<!--            </select>-->
<!--        </label>-->

        <button type="submit" name="addProject">Dodaj</button>
    </fieldset>
    </form>


    <dl th:each="project: ${projects}">
        <dt th:text="${project.description}">...</dt>
        <dd>
            <ul>
                <li th:each="group: ${project.groups}">
                    <a th:text="${group.description}"  th:href="|/showTasks/group/${group.id}|">Grupy</a>
                </li>


            </ul>
        </dd>

    </dl>

    <table>
        <tr><th>Numer Projektu</th><th>id</th><th>Description</th></tr>
    <tr th:each="project, projectStat : ${projects}">
        <td th:text="'Projekt ' + ${projectStat.index + 1}"  ></td>
        <td th:text="${project.id}">Id</td>
        <td th:text="${project.description}">Opis</td>
    </table>

    </tr>

</main>

</body>
</html>